[submodule "kernel-patches"]
	path = kernel-patches
	url = https://github.com/Polycom-Open-Firmware/c60-kernel-patches.git
	branch = main
[submodule "rootfs"]
	path = rootfs
	url = https://github.com/Polycom-Open-Firmware/c60-rootfs.git
	branch = main
